body {
  margin: 0;
  transition: all 0.45s ease-in-out;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.logo:hover {
  transform: translateY(-15px) !important;
}

.box:hover {
  transform: translateY(-5px) !important;
}

.item {
  /* transform: scale(2.8); */
  opacity: 0%;
}